demos/03-wcf-without-spatial-coupling/ConsoleApplication/Service References/ServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TvShowOfTheYearMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TvShowOfTheYearMessage" nillable="true" type="tns:TvShowOfTheYearMessage" />
  <xs:complexType name="TvShowReviewMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="NameOfGame" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Review" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TvShowReviewMessage" nillable="true" type="tns:TvShowReviewMessage" />
</xs:schema>