demos/02 - WCF with spatial coupling/ConsoleApplication1/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:36977/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:36977/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:36977/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_CreateTvShow_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTvShow" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateTvShow_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTvShowResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateTvShow_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTvShow" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateTvShow_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTvShowResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CloseVoting_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseVoting" />
  </wsdl:message>
  <wsdl:message name="IService1_CloseVoting_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseVotingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_OpenVoting_InputMessage">
    <wsdl:part name="parameters" element="tns:OpenVoting" />
  </wsdl:message>
  <wsdl:message name="IService1_OpenVoting_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenVotingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNumberOfVotes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfVotes" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNumberOfVotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfVotesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNumberOfVotesByPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfVotesByPeriod" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNumberOfVotesByPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfVotesByPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CanUserStillVote_InputMessage">
    <wsdl:part name="parameters" element="tns:CanUserStillVote" />
  </wsdl:message>
  <wsdl:message name="IService1_CanUserStillVote_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanUserStillVoteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetTvShowOfTheYear_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTvShowOfTheYear" />
  </wsdl:message>
  <wsdl:message name="IService1_SetTvShowOfTheYear_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTvShowOfTheYearResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddTvShowReview_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTvShowReview" />
  </wsdl:message>
  <wsdl:message name="IService1_AddTvShowReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTvShowReviewResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="CreateTvShow">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateTvShow" message="tns:IService1_CreateTvShow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateTvShowResponse" message="tns:IService1_CreateTvShow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTvShow">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateTvShow" message="tns:IService1_UpdateTvShow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateTvShowResponse" message="tns:IService1_UpdateTvShow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseVoting">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CloseVoting" message="tns:IService1_CloseVoting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CloseVotingResponse" message="tns:IService1_CloseVoting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenVoting">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/OpenVoting" message="tns:IService1_OpenVoting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/OpenVotingResponse" message="tns:IService1_OpenVoting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfVotes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetNumberOfVotes" message="tns:IService1_GetNumberOfVotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetNumberOfVotesResponse" message="tns:IService1_GetNumberOfVotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfVotesByPeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetNumberOfVotesByPeriod" message="tns:IService1_GetNumberOfVotesByPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetNumberOfVotesByPeriodResponse" message="tns:IService1_GetNumberOfVotesByPeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanUserStillVote">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CanUserStillVote" message="tns:IService1_CanUserStillVote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CanUserStillVoteResponse" message="tns:IService1_CanUserStillVote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTvShowOfTheYear">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetTvShowOfTheYear" message="tns:IService1_SetTvShowOfTheYear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetTvShowOfTheYearResponse" message="tns:IService1_SetTvShowOfTheYear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTvShowReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddTvShowReview" message="tns:IService1_AddTvShowReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddTvShowReviewResponse" message="tns:IService1_AddTvShowReview_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateTvShow">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateTvShow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTvShow">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateTvShow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseVoting">
      <soap:operation soapAction="http://tempuri.org/IService1/CloseVoting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenVoting">
      <soap:operation soapAction="http://tempuri.org/IService1/OpenVoting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfVotes">
      <soap:operation soapAction="http://tempuri.org/IService1/GetNumberOfVotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfVotesByPeriod">
      <soap:operation soapAction="http://tempuri.org/IService1/GetNumberOfVotesByPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanUserStillVote">
      <soap:operation soapAction="http://tempuri.org/IService1/CanUserStillVote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTvShowOfTheYear">
      <soap:operation soapAction="http://tempuri.org/IService1/SetTvShowOfTheYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTvShowReview">
      <soap:operation soapAction="http://tempuri.org/IService1/AddTvShowReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:36977/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>